In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [2]:
df = pd.read_csv("reviews.csv")

# Function to get sentiment polarity
def get_sentiment(text):
    analysis = TextBlob(text)
    return analysis.sentiment.polarity

In [3]:
df['comments'] = df['comments'].astype(str)

In [6]:
df['subjectivity'] = df['comments'].apply(get_sentiment)

In [7]:
df.head()

   listing_id                                           comments  subjectivity
0     17475.0  Excellent host, beautiful apartment, great loc...      0.702500
1     17475.0  Luca is very personable, and the views are exa...      0.266667
2     17475.0  I am glad we found Luca's apt for our stay in ...      0.367500
3     17475.0  I should start by saying we really did not wan...      0.565370
4     17475.0  Luca was a very gracious host and took efforts...      0.422857

In [8]:
def get_subjectivity(text):
    analysis = TextBlob(text)
    return analysis.sentiment.subjectivity

In [9]:
df['subjectivity'] = df['comments'].apply(get_subjectivity)

In [10]:
df.head()

   listing_id                                           comments  subjectivity
0     17475.0  Excellent host, beautiful apartment, great loc...      0.822500
1     17475.0  Luca is very personable, and the views are exa...      0.405556
2     17475.0  I am glad we found Luca's apt for our stay in ...      0.638333
3     17475.0  I should start by saying we really did not wan...      0.674938
4     17475.0  Luca was a very gracious host and took efforts...      0.589841

In [11]:
df.to_csv('sentiment.csv', index=False)